* {
	margin: 0; 
	padding: 0;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
}

.nav {
	width: 100%;
	height: 60px;
	background-color: #343a40;
	color: #E3E3E3;
}

.menu, .menu-xs {
	text-align: right;
}

.menu, .menu ul li, .menu ul, .menu-xs, .menu-xs ul, .menu-xs ul li {
	display: inline-block;
	margin-top: auto;
	margin-bottom: auto;
}

.menu a {
	color: #9a9da0;
	text-decoration: none;
	padding-right: 4px;
}

.first a, .menu a:hover {
	color: #fff;
}
/* Menu Celular */

.menu-xs {
	display: none;
}

.menu-xs ul, .menu-xs ul li {
	display: block;
}

.menu-xs-content {
	width: 30%;
	height: auto;
	background-color: #ccc;
	position: fixed;
	top: 30px;
}

.fa-bars {
	color: #9a9da0;
	border: 1px solid #494e53;
	padding: 2px 10px;
	border-radius: 4px;
}

.logo {
	text-align: left;
	margin-top: auto;
	margin-bottom: auto;
} 

.header {
	width: 100%;
	height: 400px;
	background-image: url(../images/header-stars.jpg);
	background-position: 50% 50%;
	object-fit: cover;
}

.main {
	width: 80%;
}

.btn {
	background-color: #007bff;
	color: #fff;
	font-size: 1.1em;
	border: none;
	border-radius: 4px;
	padding: 6px 12px; 
}

.section, .section h2, .aside, .aside h2, .article p, .article h2  {
	padding: 0.6em;
	text-align: justify;
}

.section p {
	padding-bottom: 1em;
}



/* Articulos */

.article {
	border: 1px solid #d8d8d8;
	border-radius: 4px;
	margin-bottom: 0.7em;
	margin-top: 0.7em;
}

.text {
	width: 100%;
	height: auto;
}

.read-more {
	background-color: #f7f7f7;
	border-top: 1px solid #d8d8d8;
	padding: 1em 0.5em 1em;
	position: relative;
	bottom: 0px;
}

.image {
	width: 100%;
	height: auto;
}

.image img {
	width: 100%;
	height: 200px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	object-position: 50% 50%;
	object-fit: cover;
}

/* Pie de Pagina */

.footer {
	width: 100%;
	height: 100px;
	background-color: #343a40;
	color: #E3E3E3;
	margin-top: 1em;
	text-align: center;
}

.footer p {
	margin-top: 45px;
}